In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display

In [28]:
#-----------------------------------------
missing_vals = df_train.isnull().sum()/len(df_train)
missing_vals.sort_values(ascending=False)
missing_vals = pd.DataFrame(missing_vals,columns=['missing_rate'])
print(missing_vals)
missing_index=data.isnull()
display(data[missing_index.values==True])
print(df_train['Age'].mean()) 
print(df_train['Age'].std()) 
g = sns.FacetGrid(df_train, col='Survived')
g.map(sns.distplot, 'Age', kde=False)
#-----------------------------------
train = pd.read_csv('Titanic_train.csv')
train

NameError: name 'df_train' is not defined

In [29]:
data = train[['Age', 'Pclass', 'Sex','PassengerId','Survived','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked']]

In [30]:
 inf = data.iloc[0:891, 0:3]

In [31]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
inf['Sex']=le.fit_transform(inf['Sex'])
display(inf)

      Age  Pclass  Sex
0    22.0       3    1
1    38.0       1    0
2    26.0       3    0
3    35.0       1    0
4    35.0       3    1
..    ...     ...  ...
886  27.0       2    1
887  19.0       1    0
888   NaN       3    0
889  26.0       1    1
890  32.0       3    1

[891 rows x 3 columns]

In [32]:
from sklearn.metrics.pairwise import nan_euclidean_distances
display(pd.DataFrame(nan_euclidean_distances(inf)))

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
0,0.000000,16.155494,4.123106,13.190906,13.000000,0.000000,32.062439,20.000000,5.099020,8.124038,...,11.000000,1.000000,6.082763,3.000000,17.029386,5.099020,3.741657,1.224745,4.472136,10.000000
1,16.155494,0.000000,12.165525,3.000000,3.741657,2.738613,16.031220,36.069378,11.180340,24.020824,...,5.477226,16.124515,10.099505,13.190906,2.236068,11.090537,19.000000,2.449490,12.041595,6.403124
2,4.123106,12.165525,0.000000,9.219544,9.055385,1.224745,28.089144,24.020824,1.000000,12.041595,...,7.071068,4.000000,2.449490,1.414214,13.000000,1.732051,7.280110,0.000000,2.236068,6.082763
3,13.190906,3.000000,9.219544,0.000000,2.236068,2.738613,19.026298,33.075671,8.246211,21.023796,...,3.000000,13.152946,7.141428,10.246951,4.472136,8.124038,16.000000,2.449490,9.055385,3.741657
4,13.000000,3.741657,9.055385,2.236068,0.000000,0.000000,19.104973,33.000000,8.062258,21.047565,...,2.000000,13.038405,7.071068,10.000000,4.123106,8.062258,16.155494,1.224745,9.219544,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,5.099020,11.090537,1.732051,8.124038,8.062258,1.224745,27.018512,25.019992,1.414214,13.038405,...,6.082763,5.196152,1.000000,2.236068,12.083046,0.000000,8.124038,1.732051,1.414214,5.099020
887,3.741657,19.000000,7.280110,16.000000,16.155494,2.738613,35.014283,17.146428,8.246211,5.099020,...,14.177447,3.605551,9.110434,6.403124,20.099751,8.124038,0.000000,2.449490,7.071068,13.190906
888,1.224745,2.449490,0.000000,2.449490,1.224745,1.224745,2.738613,1.224745,0.000000,1.224745,...,1.224745,0.000000,1.732051,1.224745,0.000000,1.732051,2.449490,0.000000,2.738613,1.224745
889,4.472136,12.041595,2.236068,9.055385,9.219544,2.449490,28.000000,24.083189,2.449490,12.083046,...,7.280110,4.582576,2.236068,2.236068,13.190906,1.414214,7.071068,2.738613,0.000000,6.324555
890,10.000000,6.403124,6.082763,3.741657,3.000000,0.000000,22.090722,30.000000,5.099020,18.055470,...,1.000000,10.049876,4.123106,7.000000,7.071068,5.099020,13.190906,1.224745,6.324555,0.000000

In [33]:
value_neighbors=1
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=value_neighbors)
df_filled = pd.DataFrame(imputer.fit_transform(inf))
display(df_filled)

        0    1    2
0    22.0  3.0  1.0
1    38.0  1.0  0.0
2    26.0  3.0  0.0
3    35.0  1.0  0.0
4    35.0  3.0  1.0
..    ...  ...  ...
886  27.0  2.0  1.0
887  19.0  1.0  0.0
888  26.0  3.0  0.0
889  26.0  1.0  1.0
890  32.0  3.0  1.0

[891 rows x 3 columns]